

#BooksSearch {
  display: flex;
  grid-template-areas:
    "search  display";
}
#BooksSearchForm {
  position: relative;
  grid-area: search;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column;
  max-width: 15rem;
}

#BooksListDisplay {
}

.bookSearchChecklist {
  display: inline-flex;
  flex-direction: column;
  align-content:
}

.booksSearchCheckBox {
  display: flex;
  justify-content: flex-start;
}
